.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.font-bold {
    font-weight: bold;
}

.blue-color {
    color: #0d6efd;
}

.un-uppercase {
    text-transform: none !important;
}

.w-15 {
    min-width: 15%;
}